@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Montserrat:ital,wght@0,200;0,400;1,300&family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@900&display=swap');


*{ margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
--Orange: hsl(26, 100%, 55%);
--Pale-orange: hsl(25, 100%, 94%);
--Very-vark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
}


body{
    font-family: "Kumbh Sans";
    padding: 1rem 60px 0px 60px
}

.icon-menu{
    display: none;
}

.header{
    border-bottom: 1px solid var(--Grayish-blue);
    /* height: 3rem; */
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.partie1{
display: flex;
justify-content: space-between;
}

a{
    text-decoration: none;
    color: var(--Dark-grayish-blue);
}

.logo img{
    margin-right: 30px;
}

.avatar{
    width: 33px;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 10px;

}

.panier{
    margin-bottom: 15px;
}

.nav-link{
    margin-left: 40px;
    }



.main{
    display: flex;
 
    height: 50rem;
    
}

.gauche{
 
    width: 50%;
}

.droite{
 
    width: 50%;
    margin-left: 150px;
}

.imagemain{
    height: 500px;
    margin-left: 50px;
    border-radius: 20px;
    margin-top: 50px;
}

.thumbnails {
    width: 30%;
    padding: 10px;
    border-radius: 20px;
}

.quatres-images{
    margin-left: 5.5rem;
    margin-right: 3rem;
    display: flex;
    justify-content:center;
}

.haut{
height: 72%;


}

.bas{
    height: 28%;

}

.sneaker{
    color: var(--Orange);
    margin-top: 100px;
    font-family: 'Kumbh Sans', sans-serif;
}

.edition{
    margin-top: 25px;
}

.description{
    color: var(--Dark-grayish-blue);
    margin-top: 40px;
    margin-right: 100px;
}   

.box{
    height: 100px;
    width: 350px;
    margin-top: 30px;
    display: inline;
}

.barré{
    color: var(--Orange);
    margin-left: 10px;
    background-color: var(--Pale-orange);
    height: 20px;
    border-radius: 4px;


}

.box-partie1{
    width: 50%;
    display: flex;
    justify-content:space-between;
    width: 40%;
}

.prix{
    margin-left: 10px;

}


.pourcentage{
    color: var(--Grayish-blue);
    margin-left: 10px;
    text-decoration: line-through;
    


}

.derniere{
    width: 350px;
    height: 50px;
    margin-top: 40px;
    display: flex;
}

.compteur{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cart{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: var(--Orange);
    border-radius: 10px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    color: white;
    border: var(--Orange);

}


.bouton{
    background-color: var(--Light-grayish-blue);
    border-radius: 10px;
    height: 50px;
    width: 200px;
    border: var(--Light-grayish-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}


h3{
    color: black;
}



@media  only screen and (max-width : 375px) {
    .nav-links{
        display: none;
    }
    .header{
        border : none;
        padding : 0px 1.5rem;
    }

    .icon-menu{
        display: block;
    }
    .logo{
        display: flex;
    }
    .icon-container{
        display: flex;
    }

    body{
        padding: 1rem 0px 0px 0px
    }

    .logo-menu{
        width: 10%;
        padding-top: 0.3rem;
    }
    .avatar {
        width: 20px;
        height: 20px;
        margin-left: 1rem;
        margin-bottom: 0px; 

    }

    .main{
        flex-direction: column;
    }
    .bas{
        display: none;
    }

    .gauche{
        width: initial;
    }

    .haut img{
        width: 100%;
    }

    .imagemain {
        height: initial; 
        margin-left: 0px; 
        border-radius: 0px; 
        margin-top: 0px;
    }

    .droite{
 
        width: 100%;
        margin-left: 20px;
    }


.bouton{
    margin-left: 0px;
    width: 100%;
}

.sneaker{
    margin-top: 50px;
}

.compteur{
    margin-bottom: 50px;
    width: 100%;
}
.cart{
    width: 100%;
    margin-bottom: 40px;
}

.derniere{
    margin-bottom: 50px;
    margin-top: 20px;
    display: block;
}

.box{
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.description{
    text-align:start;
}

}

